<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.js.mapper.ProductMapper">
    <select id="findById" resultType="cn.js.vo.Product" parameterType="int">
        SELECT productId,productName,productDesc FROM product WHERE productId = #{id};
    </select>
    <select id="findAll" resultType="cn.js.vo.Product">
        SELECT productId,productName,productDesc from product;
    </select>
    <insert id="create" parameterType="cn.js.vo.Product">
        INSERT INTO product(productName,productDesc) VALUES (#{productName},database());
    </insert>
</mapper>
